<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>asignaturas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">asignaturas</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-button expand="full" routerLink="/listar-asignaturas">
    Ver asignaturas
  </ion-button>
  <ion-button expand="full" routerLink="/crear-asignatura">
    Crear Asignatura
  </ion-button>
</ion-content>