<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/admin-dashboard">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-wrapper">
    <div class="intro">
      <strong>Gestión de Usuarios</strong>
      <p>Selecciona el tipo de usuario que deseas gestionar</p>
    </div>
    <div class="banner">
      <ion-button expand="block" (click)="navigateToUserType('profesor')">
        Docentes
      </ion-button>
    </div>
    <div class="banner">
      <ion-button expand="block" (click)="navigateToUserType('alumno')">
        Alumnos
      </ion-button>
    </div>
    <div class="banner">
      <ion-button expand="block" (click)="navigateToUserType('admin')">
        Administradores
      </ion-button>
    </div>
  </div>
</ion-content>
