<ion-header>
  <ion-toolbar>
    <ion-title>Crear Sección</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nombre de la Sección</ion-label>
    <ion-input [(ngModel)]="nombreSeccion"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Cupos</ion-label>
    <ion-input type="number" [(ngModel)]="cupos"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Seleccionar Alumnos</ion-label>
    <ion-select [(ngModel)]="alumnosSeleccionados" multiple="true">
      <ion-select-option
        *ngFor="let alumno of alumnosNoAsignados"
        [value]="alumno"
      >
        {{ alumno }}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button expand="full" (click)="agregarSeccion()"
    >Crear Sección</ion-button
  >
</ion-content>
