<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Listar Asignaturas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Listar Asignaturas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let asignatura of asignaturas">
      <ion-label>
        <h2>{{ asignatura.nombre }}</h2>
      </ion-label>
      <ion-button (click)="irACrearSeccion(asignatura.uid)">Crear Sección</ion-button>
      <ion-button (click)="irAListarSecciones(asignatura.uid)">Ver Secciones</ion-button>
    </ion-item>
  </ion-list>
</ion-content>