<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/usuario-profesor">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Ver Clases Pendientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-wrapper">
    <div class="intro">
      <strong>Clases Pendientes</strong>
      <p>Gestiona las clases pendientes desde aquí</p>
    </div>
    <ion-list>
      <ion-item *ngFor="let clase of clasesPendientes">
        <ion-label>
          <h2>Fecha: {{ clase.fecha.toDate() | date: 'short' }}</h2>
        </ion-label>
        <ion-button (click)="irAGenerarQR(clase.asistenciaUid)">
          Generar QR
        </ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
