ion-card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

ion-content {
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-start: 0;
    --padding-end: 0;
}
.fondo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #042c54;
}