<ion-header>
  <ion-toolbar>
    <ion-title>Escanear QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" (click)="scan()">Escanear QR</ion-button>
  <div *ngIf="seccionUid">
    <ion-list>
      <ion-item>
        <ion-label>
          <h2>Profesor: {{ profesor.nombre }}</h2>
          <h2>Sección: {{ seccion.nombre }}</h2>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-button expand="full" (click)="marcarPresente()"
      >Marcar Presente</ion-button
    >
  </div>
</ion-content>
