ion-button {
    padding-top: 1rem;
    padding-left: 3rem;
}
ion-list {
    padding-top: 2rem;
}

.codigoQR {
    padding-left: 3rem;
    img {
        width: 30vh;
        height: 30vh;
    }
}

.titulo {
    padding-top: 1rem;
    font-size: 30px;
}