<ion-header>
  <ion-toolbar>
    <ion-title>Administrador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button class="btn" expand="block" routerLink="/usuarios">
    Ir a Usuarios
  </ion-button>
  <ion-button expand="full" routerLink="/asignaturas">
    Crear Asignatura
  </ion-button>
</ion-content>

<div class="banner">
  <strong>¿Ya te vas?</strong>
  <ion-button class="btn-logout" expand="block" (click)="logout()">
    <ion-icon name="log-out-outline" slot="end"></ion-icon>Cerrar sesión
  </ion-button>
</div>