ion-content {
  --background: #ffffff;
  --padding-top: 20px;

  .intro {
    padding: 20px;
    text-align: center;

    strong {
      font-size: 1.5rem;
      color: #003366;
    }

    p {
      font-size: 1rem;
      margin-top: 10px;
      color: #333;
    }
  }

  .banner {
    padding: 10px 20px;
    text-align: center;

    strong {
      display: block;
      margin-bottom: 10px;
      color: #003366;
    }

    .btn-scan {
      --background: #ffd700;
      --color: #000;
      --border-radius: 5px;
    }

    .btn-logout {
      --background: #ff5733;
      --color: #fff;
      --border-radius: 5px;
    }
  }

  .disabled-button {
    background-color: grey !important;
    color: white !important;
    pointer-events: none;
    opacity: 0.6;
  }
}
