<ion-header>
  <ion-toolbar>
    <ion-title>Asignar Asignatura</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Seleccionar Asignatura</ion-label>
    <ion-select [(ngModel)]="asignaturaSeleccionada">
      <ion-select-option
        *ngFor="let asignatura of asignaturas"
        [value]="asignatura.uid"
      >
        {{ asignatura.nombre }}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Seleccionar Profesor</ion-label>
    <ion-select [(ngModel)]="profesorSeleccionado">
      <ion-select-option
        *ngFor="let profesor of profesores"
        [value]="profesor.uid"
      >
        {{ profesor.nombre }} {{ profesor.apellido }}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button expand="full" (click)="asignarAsignatura()"
    >Asignar Asignatura</ion-button
  >
</ion-content>
