<ion-content>
  <div class="content-wrapper">
    <div class="intro">
      <strong>Cursos</strong>
      <p>Manten al tanto los cursos que tienes</p>
    </div>

    <div class="banner">
      <ion-button class="btn-scan" expand="block" routerLink="/usuario-cursos">
        Cursos
      </ion-button>
    </div>

    <div class="banner">
      <ion-button
        class="btn-update"
        expand="block"
        routerLink="/actualizar-informacion-personal"
      >
        Actualizar Usuario
      </ion-button>
    </div>

    <div class="banner">
      <ion-button class="btn-logout" expand="block" (click)="logout()">
        <ion-icon name="log-out-outline" slot="end"></ion-icon>Cerrar sesión
      </ion-button>
    </div>
  </div>
</ion-content>
